boto3==1.4.8
botocore==1.8.2
certifi==2017.11.5
certstream==1.8
chardet==3.0.4
docutils==0.14
idna==2.6
jmespath==0.9.3
multidict==3.3.2
pipdeptree==0.10.1
pyaml==17.10.0
python-dateutil==2.6.1
PyYAML==3.12
requests==2.18.4
requests-file==1.4.2
s3transfer==0.1.11
six==1.11.0
termcolor==1.1.0
tldextract==2.2.0
urllib3==1.22
websocket-client==0.44.0